*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
header{
    border-bottom: 1px solid black;
    padding: 10px 10px 0px;
}
.header-top{
    display: flex;
    margin-bottom: 10px;
}
.header-top img{
    width: 70px;
    margin-right: 20px
}
h1{
    font-size: 20px;
    font-weight: 100;
}
.header-bottom ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
li:hover{
    color: blue;
    border-bottom: 2px solid blue;
    cursor: pointer;
}
ul li:last-child{
    color: blue;
    border-bottom: 2px solid blue;
}
li{
    padding-bottom: 10px;
}
main{
    padding-top: 80px;
    padding-bottom: 200px;
}
.container{
    width: 55%;
    margin: 0 auto;
}
h3, .a-area{
    margin-bottom: 20px;
}